@import "tailwindcss";

@theme {
  /* აქ ამატებთ თქვენს ფერებს და ცვლადებს */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* HMS სპეციფიკური ფერები, თუ Slate გჭირდებათ */
  --color-hms-slate: #64748b; /* slate-500 */
}

:root {
  --background: #f9f8f7;
  --foreground: #020617; /* Slate-950 (შავი) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #ffffff;
}}